:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: green;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1{
  color: yellow;
  text-align: center;
}

button {
  background-color: teal;
  color: white;
  border-radius: 6px;
  padding: 7px;
  border: none;
  cursor: pointer;
}

button.edit {
  background-color: greenyellow;
  color: black;
  margin-right: 5px;
}
button.delete {
  background-color: red;
  color: white;
}
button.add {
  background-color: teal;
  color: white;
  margin-left: -5px;
}


input {
  width: 30%;
  margin: 10px 2px 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 5px;
  outline: none;
}

h2.head {
  color: green;
  margin-bottom: 10px; 
}

.sub-head {
  color: blue;
  margin-top: 20px;
  margin-bottom: -10px; 
}